body {
    background-color: #f6f6f6;
}

header {
    background-color: rgb(219, 168, 211);
    font-size: 50px;
    text-align: center;
}

section {
    background-color: rgb(219, 168, 211);
    size-adjust: 20px;
    border-radius: 5px;
}

h1, h2, {
    color: #000000;
}

h3 {
    color: #000000;
}

p {
    color: #000000;
} 

a {
    color:#5a0d0d
}
