body {
    background-color:gray;
}

header{
    background-color: rgb(239, 221, 221);
    font-size: 20px;
    text-align: center;
    border-radius: 30px;
}

button{
    background-color: rgb(220, 224, 216);
    font-size: 50px;
    border-radius: 10px;
}

i{
    color:rgb(7, 7, 180)
}

b{
    color:rgb(51, 3, 3)
}